.zoomCon {
  /* background-color: rgba( 0, 0, 0, .6); */

  border-radius: 10px;
  /* width: 90%; */
  margin-left: auto;
  margin-right: auto;
  color: rgba(210, 217, 220, 1);
}
.graphsCon {
  margin-top: 10px;
  margin-bottom: 90px;
}