.jPageH3 {
  text-align: center;
  margin-top: 10px;
}
.journalSection {
  margin-top: 80px;
  background-image: url("http://localhost:8000/api/uploads/static/journey.jpg");
  background-position: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 88vh;
  overflow: auto;
}