.errorMessage {
  text-align: center;
  color: red;
  font-family: "buda", cursive;
}
.errorCon {
  background-color: rgba( 0, 0, 0, .75);
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 4px;
}

