@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Tangerine&display=swap');

.introPageContainer {
  background: linear-gradient(to top, #780206, #061161);
  height: 100vh;
  padding-top: 100px;
}
.introH1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #EEDD2C;
}
.introImg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 25px;
  border: #EEDD2C solid 4px;
}
.introP {
  padding: 20px;
  color: #EEDD2C;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 104%;
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 1.618em;
  font-weight: 800;
}
.introButtonContainer {
  display: flex;
  justify-content: space-evenly;
  height: 144px;
  width: 233px;
  margin-left: auto;
  margin-right: auto;
}
.introButtonContainer button {
  width: 80px;
  text-align: center;
  background-color: rgba(22, 15, 84, .65);
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  border-radius: 4px;
  color: #EEDD2C;
  font-family: 'Pacifico', cursive;
}
.introButtonContainer button:active {
  background-color: #5250B1;
}
.introButtonContainer button:hover {
  cursor: pointer;
}
.introPageTop {
  height: 233px;
  width: 233px;
  margin-left: auto;
  margin-right: auto;
}