@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.introPageContainer {
  /* background: #1e3c72; */
  /* background-color: -webkit-linear-gradient(to bottom, #1e3c72, #2a5298); */
  /* background: linear-gradient(to bottom, #1e3c72, #2a5298); */
  background: linear-gradient(to top, #780206, #061161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  padding-top: 100px;
}
.introH1 {
  text-align: center;
  font-family: Pacifico, cursive;
  color: #EEDD2C;
}
.introImg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 25px;
  border: #EEDD2C solid 4px;
}
.introP {
  padding: 20px;
}
.introButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.introButtonContainer button {
  width: 80px;
  text-align: center;
  background-color: rgba(152, 113, 84, .9);
  /* background-image: linear-gradient(to right,#b16330,#b16330 ,#c46a34,#934f22); */
  border-radius: 4px;
  color: rgba(240, 240, 240, 1);
  font-weight: bold;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* .introLighting {
  background-color: rgba(244, 247, 238, 1);
  background-image: radial-gradient(circle at 50%, rgba(244, 247, 238, 1), rgba(255, 201, 157, 1));
  height: 50px;
  width: 100%;
  position: relative;
  top: -400px;
  box-shadow: 0px 0px 10px 8px rgba(255, 201, 157, 1);
} */