@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Cinzel+Decorative:wght@700&family=Delius+Swash+Caps&family=Emilys+Candy&family=Nothing+You+Could+Do&family=Oleo+Script&family=Pacifico&family=Tangerine&display=swap');
.homeFooter {
  position: fixed;
  bottom: 0px;
}
.addReqDiv {
  margin-top: 100px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #40616e; 
  border-radius: 10px;
  background-color: rgba(210, 217, 220, 1);
}
::-webkit-scrollbar-thumb {
  background: rgba( 0, 0, 0, .6); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #40616e; 
}
@media screen and (min-width: 481px) {
  .introImg {
    margin-top: 50px;
  }
  .ulListCon {
    font-size: 1.2em;
  }
  .eventsMenuCon, .journalMenuCon, .relMenuCon {
    font-size: 1.2em !important;
  }
  .statusBarSection {
    font-size: 1.2em;
  }
  .yourStateofMind, .rState {
    padding-top: 2px !important;
  }
  .jInputBox {
    width: 80% !important;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
}
