@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Pacifico&family=Tangerine&display=swap');

.homeFooter {
  position: fixed;
  bottom: 0px;
}

.addReqDiv {
  margin-top: 100px;
}